

.connect-wallet-button {
	background: -webkit-linear-gradient(left, #35aee2, #063970);
	background-size: 200% 200%;
	animation: gradient-animation 4s ease infinite;
	height: 45px;
	border: 0;
	width: auto;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	color: white;
}
